@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop P One", sans-serif;
}

body{
    background-color: #1E0342;
}


.box{
    background-color: #fafafa;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #555;
}

.box img{
    width: 35px;
    cursor: pointer;
    
}